<form method="post" action="/class_code">
	<div class="form-group">
		<label>Class Code</label>
		<input type="text" class="form-control" placeholder="Class Code" name="class_code">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form?>

