{{#if is_student}}
	<a href="/org_code" class="btn btn-primary">Join an Organization</a>
	<ul class="list-group">
		{{#if orgs}}
			<h3>Organizations I Am In</h3>
			{{#each orgs}}
				<ul class="list-group">
					<form id="org_info_form" method="get" action="/orgs/">
						<input name="org_code" type="hidden" value="{{this.code}}">
						<a onClick="submitOrgInfoForm()" type="submit" class="list-group-item">
							{{this.name}}
						</a>
					</form>
				</li>
			{{/each}}
		{{/if}}
	</ul>
	
{{/if}}

{{#if is_teacher}}
	<a href="/make_org" class="btn btn-primary">Create an Organization</a>
{{/if}}

{{#if is_counselor}}
	<a href="/make_org" class="btn btn-primary">Create an Organization</a>
	<ul class="list-group">
		{{#if orgs}}
			<h3>Organizations I Lead</h3>
			{{#each orgs}}
				<form id="org_info_form" method="get" action="/orgs/">
					<input name="org_code" type="hidden" value="{{this.code}}">
					<a onClick="submitOrgInfoForm()" type="submit" class="list-group-item">
						{{this.name}}
					</a>
				</form>
			{{/each}}
		{{/if}}
	</ul>
{{/if}}

<script type='text/javascript' src='/js/index_script.js'></script>
