<form method="post" action="/org_code">
	<div class="form-group">
		<label>Organization Code</label>
		<input type="text" class="form-control" placeholder="Organization Code" name="org_code">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form?>

